body {
    background-color: #eee;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100vw;
}

#menu {
    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Ubuntu", sans-serif;
    height: 100%;
    padding-top: 20vh;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.menu-item {
    margin: 50px 0;
}

#title {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#start {
    background-color: #ddd;
    border: solid 1px #ddd;
    border-radius: 5px;
    font-family: inherit;
    font-size: 30px;
    padding: 3px 40px;
    transition: background-color 0.5s, border-color 0.5s, border-radius 0.5s;
}

#start:hover {
    background-color: #eee;
    border-color: #000;
    border-radius: 10px;
}

#game {
    height: 100%;
    position: absolute;
    width: 100%;
}

#game.inactive {
    filter: blur(5px);
}

.entity {
    left: 0px;
    position: absolute;
    top: 0px;
}

#player {
    background-color: hsl(120, 20%, 50%);
    border: 1px solid #000;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

#pointer {
    background-color: #333;
    border-radius: 50px;
    height: 10px;
    width: 10px;
}

.bullet {
    background-color: #555;
    border-radius: 50px;
    height: 10px;
    width: 10px;
}

.enemy {
    background-color: hsl(10, 20%, 50%);
    border: 1px solid #000;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
