body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100vw;
}

#ui, #game {
    height: 100%;
    position: absolute;
    width: 100%;
}

#menu {
    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.5);
    animation: menu_bg_color 0.7s linear;
    animation-fill-mode: forwards;

    height: 100%;
    padding-top: 20vh;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#title {
    animation: menu_appear 0.7s ease-in-out 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}

#start {
    animation: menu_appear 0.7s ease-in-out 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}

#game.inactive {
    /* animation: menu_blur 0.5s linear; */
    animation-fill-mode: forwards;
}

@keyframes menu_bg_color {
    from {
        background-color: rgba(255, 255, 255, 0);
    }

    to {
        background-color: rgba(255, 255, 255, 0.5)
    }
}

@keyframes menu_appear {
    from {
        opacity: 0;
        bottom: -50px;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes menu_blur {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(7px);
    }
}
